# Virtual environments
venv/
.env/

# Data folders (do not push large files)
data/raw/
data/processed/

# Model artifacts
*.pkl
*.joblib

# Python cache
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
