@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset & Box Model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Font */
@font-face {
    font-family: jungle;
    src: url(../fonts/jungle.ttf);
}

/* Header Layout */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    padding: 20px;
    background: rgba(101, 8, 232, 0.8); 
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
}

/* Logo Styling */
.logo {
    font-family: jungle;
    border: 1px solid black;
    background: url(../images/logo.png) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100px;
    font-size: 48px;
    padding-left: 100px;
    color: chartreuse;
    text-shadow: 3px 3px black;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: translateX(10px); /* FIXED TYPO */
    color: white;
}

/* Nav Styling */
nav {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-family: jungle;
    color: burlywood;
    font-size: 24px;
    text-shadow: 2px 2px black;
    transition: all 0.3s ease;
}

nav a:hover {
    color: white;
    transform: scale(1.2);
}

/* Banner Section */
.banner {
    width: 100%; /* FIXED: was 100px */
    height: 400px;
    border: 2px solid rgb(188, 208, 33); /* FIXED: added "solid" */
    background: url(../images/slothEating.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

/* Meet Sloths Section */
.meetsloths {
    height: 400px;
    width: 100%;
    background: rgba(5, 15, 9, 0.8);
}

.meetsloths h1 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color: white;
    text-shadow: 2px 2px rgb(47, 6, 6);
    margin: 0 0 40px 30px;
    padding-top: 40px;
}

/* Sloth Cards Container */
.sloths {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Individual Sloth Card */
.sloths div {
    width: 25%;
    height: 240px; 
    border: 5px solid white; /* FIXED: added "solid" */
    background-position: center;
    background-size: cover;
}

/* Apply backgrounds via CLASS (make sure HTML has class="sloths1" etc.) */
.sloths1 {
    background: url(../images/slothHanging.jpg) no-repeat;
}

.sloths2 {
    background: url(../images/slothClimbing.jpg) no-repeat;
}

.sloths3 {
    background: url(../images/slothEating.jpg) no-repeat;
}

.sloths4 {
    background: url(../images/slothInTree.jpg) no-repeat;

}

footer{
   display: flex;
   width: 100%;
   height: 70px;
   justify-content: space-evenly;
   border: 1px solid black;
   margin-top: 20px;
   font-family: "Roboto", sans-serif
}

footerimg{
    width: 50px;
}


