.flexbox{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100px;
    border: solid 2px black;
}

.flexitem{
    width: 25%;
    height: 50px;
    border: 2px double red;
}